name: Sync repos

on:
  # push:
  #   branches:
  #     - main
  schedule:
   - cron: 0 16 * * *
  workflow_dispatch:
  repository_dispatch:
    types: [sync-repos]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:

      - name: Sync mastodon-embed-timeline
        run: |
          git clone https://gitlab.com/idotj/mastodon-embed-timeline.git
          cd mastodon-embed-timeline
          git remote set-url --add --push origin https://id:${{ secrets.SYNC_REPOS_TOKEN }}@github.com/eallion/mastodon-embed-timeline.git
          git push

      - name: Sync Phanpy Production
        run: |
          git clone https://github.com/cheeaun/phanpy -b production
          cd phanpy
          git remote set-url --add --push origin https://id:${{ secrets.SYNC_REPOS_TOKEN }}@github.com/eallion/phanpy.git
          git push
          
      - name: Sync haitang
        run: |
          git clone https://github.com/javayhu/haitang
          cd haitang
          git remote set-url --add --push origin https://id:${{ secrets.SYNC_REPOS_TOKEN }}@github.com/eallion/haitang.git
          git push

      - name: Sync pic-smaller
        run: |
          git clone https://github.com/joye61/pic-smaller
          cd pic-smaller
          git remote set-url --add --push origin https://id:${{ secrets.SYNC_REPOS_TOKEN }}@github.com/eallion/pic-smaller.git
          git push

      - name: Sync medicine
        run: |
          git clone https://github.com/lvwzhen/medicine
          cd medicine
          git remote set-url --add --push origin https://id:${{ secrets.SYNC_REPOS_TOKEN }}@github.com/eallion/medicine.git
          git push
          
      - name: Sync MoonTV
        run: |
          git clone https://github.com/senshinya/MoonTV
          cd MoonTV
          git remote set-url --add --push origin https://id:${{ secrets.SYNC_REPOS_TOKEN }}@github.com/eallion/MoonTV.git
          git push
          
      - name: Sync LibreTV
        run: |
          git clone https://github.com/LibreSpark/LibreTV
          cd LibreTV
          git remote set-url --add --push origin https://id:${{ secrets.SYNC_REPOS_TOKEN }}@github.com/eallion/LibreTV.git
          git push
