name: Sync repos

on:
  # push:
  #   branches:
  #     - main
  schedule:
   - cron: 0 16 * * *
  workflow_dispatch:
  repository_dispatch:
    types: [sync-repos]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:

      - name: Sync mastodon-embed-timeline
        run: |
          git clone https://gitlab.com/idotj/mastodon-embed-timeline.git
          cd mastodon-embed-timeline
          git remote set-url --add --push origin https://id:${{ secrets.SYNC_REPOS_TOKEN }}@github.com/eallion/mastodon-embed-timeline.git
          git push

      - name: Sync hugo-theme-blowfish
        run: |
          git clone https://github.com/nunocoracao/blowfish.git
          cd blowfish
          git remote set-url --add --push origin https://id:${{ secrets.SYNC_REPOS_TOKEN }}@github.com/eallion/blowfish.git
          git push

      - name: Sync Phanpy Production
        run: |
          git clone https://github.com/cheeaun/phanpy -b production
          cd phanpy
          git remote set-url --add --push origin https://id:${{ secrets.SYNC_REPOS_TOKEN }}@github.com/eallion/phanpy.git
          git push

      - name: Sync MyIP
        run: |
          git clone https://github.com/jason5ng32/MyIP
          cd MyIP
          git remote set-url --add --push origin https://id:${{ secrets.SYNC_REPOS_TOKEN }}@github.com/eallion/MyIP.git
          git push

      - name: Sync haitang
        run: |
          git clone https://github.com/javayhu/haitang
          cd haitang
          git remote set-url --add --push origin https://id:${{ secrets.SYNC_REPOS_TOKEN }}@github.com/eallion/haitang.git
          git push

      - name: Sync Sink
        run: |
          git clone https://github.com/ccbikai/Sink
          cd Sink
          git remote set-url --add --push origin https://id:${{ secrets.SYNC_REPOS_TOKEN }}@github.com/eallion/Sink.git
          git push

      - name: Sync RSSHub legacy
        run: |
          git clone https://github.com/DIYgod/RSSHub -b legacy
          cd RSSHub
          git remote set-url --add --push origin https://id:${{ secrets.SYNC_REPOS_TOKEN }}@github.com/eallion/RSSHub.git
          git push

      - name: Sync alist-tvbox
        run: |
          git clone https://github.com/power721/alist-tvbox
          cd alist-tvbox
          git remote set-url --add --push origin https://id:${{ secrets.SYNC_REPOS_TOKEN }}@github.com/eallion/alist-tvbox.git
          git push

      - name: Sync pic-smaller
        run: |
          git clone https://github.com/joye61/pic-smaller
          cd pic-smaller
          git remote set-url --add --push origin https://id:${{ secrets.SYNC_REPOS_TOKEN }}@github.com/eallion/pic-smaller.git
          git push

      - name: Sync simple-one-api
        run: |
          git clone https://github.com/fruitbars/simple-one-api
          cd simple-one-api
          git remote set-url --add --push origin https://id:${{ secrets.SYNC_REPOS_TOKEN }}@github.com/eallion/simple-one-api.git
          git push

      - name: Sync DailyHotApi-Vercel
        run: |
          git clone https://github.com/imsyy/DailyHotApi-Vercel
          cd DailyHotApi-Vercel
          git remote set-url --add --push origin https://id:${{ secrets.SYNC_REPOS_TOKEN }}@github.com/eallion/DailyHotApi-Vercel.git
          git push

      - name: Sync DailyHot
        run: |
          git clone https://github.com/imsyy/DailyHot
          cd DailyHot
          git remote set-url --add --push origin https://id:${{ secrets.SYNC_REPOS_TOKEN }}@github.com/eallion/DailyHot.git
          git push

      - name: Sync BroadcastChannel
        run: |
          git clone https://github.com/ccbikai/BroadcastChannel
          cd DailyHot
          git remote set-url --add --push origin https://id:${{ secrets.SYNC_REPOS_TOKEN }}@github.com/eallion/BroadcastChannel.git
          git push